/* Basket Image */
.basket-container img {
  width: 520px;
  max-width: 100%;
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.25));
}

.login-root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  background: linear-gradient(120deg, #fdfbfb, #ebedee);
}

/* Glassmorphism Card */
.login-card {
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.login-subtitle {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #555;
}

/* Login Button */
.login-btn {
  margin-top: 18px !important;
  padding: 7px !important;
  border-radius: 8px !important;
  background-color: #000 !important;
  color: #fff !important;
  font-weight: bold !important;
  transition: background-color 0.3s ease !important;
  font-size: medium !important;
}

.login-btn:hover {
  background-color: #333 !important;
}

/* Signup Text */
.signup-text {
  margin-top: 50px;
  text-align: center;
  color: #555;
}

.signup-text span {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}



/* Responsive */
@media (max-width: 900px) {
  .login-root {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .basket-container img {
    width: 320px;
  }
}
